@using minishop.Models;
@model List<CartItem>
@{
    ViewData["Title"] = "Home Page";
}
<div class="p-2 cart-items">
    <h4 class="">Корзина</h4>
    @foreach(var a in Model){
    <div class="container cart-item-container p-2 m-0 my-4" id="@a.Id">

        <div class="row p-2">
            <div class="col-12"><p class="price-text-shadow">@a.Count товар</p></div>
                <div class="col-12 col-sm-12 col-md-2 ">
                <div class="">
                    <img src="/imgs/products/@(a.ProductId).png" class="p-1 img-product">
                </div>
            </div>
                <div class="col-12 col-sm-12 col-md-8 px-4">
                <p class="p-0 m-0">
                    <a href="/Product/@(a.ProductId)" class="product-text"> @a.Product.Name</a>
                </p>
                <p class="price-text-shadow">@a.Product.Description</p>
            </div>
                <div class="col-12 col-sm-12 col-md-2">
                <p class="p-0 m-0" style="font-weight:700">
                    @(a.Count * a.Product.Price) ₽
                </p>
                <p class="price-text-shadow">
                        @a.Count шт по @a.Product.Price ₽
                </p>
                <button type="button" id="@a.Id" class="btn btn-delete-cart del-btn-cart">Убрать</button>
            </div>
        </div>
    </div>

    }

</div>
@*<script src="/js/cart.js"></script>*@